{% extends "base.html" %}

{% block content %}
    <h2>Add New Column to {{ item_name }}</h2>
    
    <form method="POST">
        <div class="form-group">
            <label for="column_name">Column Name:</label>
            <input type="text" id="column_name" name="column_name" required>
        </div>
        
        <div class="form-group">
            <label for="column_type">Data Type:</label>
            <select id="column_type" name="column_type" step= "0.001" required>
                <option value="text">Text</option>
                <option value="number">Number</option>
                <option value="date">Date</option>
            </select>
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn primary">Add Column</button>
            <a href="" class="btn">Cancel</a>
        </div>
    </form>
{% endblock %}